@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #CBB3BF;
    overflow-x: hidden;
}


/* 導覽列 */

#menu_control {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

.header {
    height: 60px;
    background-color: #FCDE9C;
    position: relative;
    opacity: .8;
    top: 0;
    position: sticky;
    z-index: 1;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.logo a {
    display: block;
    height: 60px;
}

.logo img {
    padding: 5px 0 0 0;
    width: 50px;
    height: 50px;
    display: block;
}

.menu_btn {
    width: 40px;
    height: 40px;
    background-color: #523A34;
    opacity: .8;
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu_btn span {
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}

.menu_btn::before {
    content: '';
    position: absolute;
    height: 2px;
    left: 10px;
    width: 20px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #fff, 0px -8px 0px #fff;
}

nav {
    width: 50%;
    height: calc(100vh - 60px);
    background-color: #FCDE9C;
    position: absolute;
    top: 60px;
    display: none;
    transition: .5s;
}

nav a {
    display: block;
    text-decoration: none;
    color: #3b2925;
    padding: 10px 20px;
    border-bottom: 1px solid #523A34;
}

form {
    display: none;
}

.header .header-search button,
.header .header-search input {
    border: none;
    background-color: #fff;
    padding: 5px 10px;
}

.header .header-search button:focus,
.header .header-search input:focus {
    outline: none;
}

.header .header-search button {
    border-radius: 0 200px 200px 0;
    color: #523A34;
}

.header .header-search input {
    border-radius: 200px 0px 0px 200px;
}

@media screen and (min-width: 768px) {
    .menu_btn {
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-around;
        background-color: #FCDE9C;
        align-items: center;
        top: 0;
        height: 80px;
    }
    .logo {
        padding: 0;
        height: 80px;
        height: 80px;
    }
    .logo img {
        padding: 0;
        width: 80px;
        height: 80px;
    }
    .header nav a {
        text-decoration: none;
        color: #3b2925;
        padding: 5px 1em;
        position: relative;
        transform: translateY(0px);
        transition: .3s;
    }
    .header nav a:hover {
        transform: translateY(-5px);
    }
    .header nav a:after {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -5px;
        height: 0;
        border-bottom: 1px solid #ad918a;
        transition: .4s;
    }
    .header nav a:hover:after {
        left: 0;
        right: 0;
    }
    nav {
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        background-color: transparent;
    }
    nav a {
        border-bottom: none;
        font-weight: 900;
    }
    .header .header-search {
        display: flex;
    }
}


/* banner */

.banner {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #CBB3BF;
    display: flex;
}

.banner-container {
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.banner .banner-title {
    margin: auto;
    font-size: 50px;
    color: #fff;
}

.banner .banner-txt {
    color: #523A34;
    line-height: 1.8;
}

@media screen and (min-width: 768px) {
    .banner {
        height: calc(100vh - 140px);
    }
    .banner .banner-title {
        font-size: 90px;
    }
}


/* title共同的 */

.main-title:before {
    content: "";
    display: block;
    height: 60px;
}

.main-title {
    background-color: #CBB3BF;
}

.main-title .container {
    width: 90%;
    /* height: calc(100vh - 60px); */
    margin: auto;
    background-color: #fff;
    /* opacity: .8; */
    border-radius: 20px;
}

.main-title .container .title {
    width: 100%;
    padding: 20px 0 0 0;
    font-size: 20px;
    text-align: center;
    color: #523A34;
}

.main-title .container .title h2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-title .container .title h2:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 80px;
    height: 2px;
    background-color: #523A34;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .main-title:before {
        content: "";
        display: block;
        height: 80px;
    }
    .main-title .container {
        width: 85%;
        /* height: calc(100vh - 80px); */
    }
    .main-title .container .title {
        padding: 40px 0 0 0;
        font-size: 26px;
    }
}


/* 關於 */

.about {
    /* background-color: #CBB3BF; */
}

.about .container {
    display: flex;
    flex-direction: column;
}

.about .container .content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about .container .content .photo img {
    opacity: .8;
    width: 200px;
    height: 200px;
    padding: 20px 0 0 0;
}

.about .container .content .txt {
    width: 400px;
    text-align: center;
    padding: 0 5px;
    line-height: 1.5;
    font-size: 16px;
}

.about .container .content .txt .resume {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.about .container .content .txt .resume a {
    text-decoration: none;
    font-weight: 700;
    padding: 8px 18px;
    font-size: 15px;
    background-color: #CBB3BF;
    color: #fff;
    border-radius: 300px;
    letter-spacing: 2px;
    transition: all .3s;
}

.about .container .content .txt .resume a:hover {
    background-color: #685369;
}

@media screen and (min-width: 768px) {
    .about .container {
        height: calc(100vh - 80px);
    }
    .about .container .content {
        /* padding: 20px; */
        flex-wrap: nowrap;
    }
    .about .container .content .photo {
        background-color: #eee;
        align-self: flex-start;
    }
    .about .container .content .photo img {
        width: 300px;
        height: 300px;
        padding: 10px 0 30px 0px;
    }
    .about .container .content .txt {
        width: 500px;
        padding: 0 0 0 30px;
        line-height: 1.8;
        font-size: 18px;
    }
    .about .container .content .txt .resume {
        margin-bottom: 2em;
        font-size: 16px;
    }
}


/* 經歷 */

.wrap {
    width: 100%;
    margin: auto;
}

.wrap::after {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    clear: both;
}

.timeline {
    padding: 20px 20px 0;
}

.timeline li {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}

.timeline li>div {
    display: block;
    background-color: #fff;
    border: 1px solid #cbb3bf;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888;
}

.timeline div:hover {
    background-color: rgb(203, 179, 205, .2);
}

.timeline h2 {
    color: #523A34;
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 20px;
}

.timeline h4 {
    color: #523A34;
    font-weight: 400;
    margin-bottom: 3px;
}

.timeline p {
    color: #523A34;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

.timeline p a {
    align-self: center;
    width: 140px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #CBB3BF;
    color: #fff;
    border-radius: 300px;
    transition: all .3s;
}

.timeline p a:hover {
    background-color: #685369;
}

@media screen and (min-width: 768px) {
    .wrap {
        width: 960px;
    }
    .timeline {
        padding: 60px 50px 0;
    }
    .timeline li {
        width: 50%;
        padding: 20px 0;
    }
    .timeline li:nth-child(odd) {
        float: left;
        padding-right: 80px;
        clear: left;
    }
    .timeline li:nth-child(even) {
        float: right;
        padding-left: 80px;
        transform: translateY(10%);
    }
    .timeline li:last-child {
        transform: translateY(10%);
    }
    .timeline li:nth-child(odd)::after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 1px;
        top: 0;
        height: 120%;
        background-color: #cbb3bf;
        right: 0;
    }
    .timeline li:last-child::after {
        height: 50%;
    }
    .timeline li::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #cbb3bf;
        z-index: 2;
    }
    .timeline li:nth-child(odd):before {
        right: -10px;
    }
    .timeline li:nth-child(even):before {
        left: -10px;
    }
    .timeline h2::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 80px;
        background-color: #cbb3bf;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .timeline li:nth-child(odd) h2::after {
        right: 0;
    }
    .timeline li:nth-child(even) h2::after {
        left: 0;
    }
}


/* 技能 */

.skill {}

.skill .container {
    height: calc(100vh - 60px);
}


/* 專案 */

.project {}

.project .container {
    height: calc(100vh - 60px);
}


/* 作品 */

.portfolio {}

.portfolio .container {
    height: calc(100vh - 60px);
}


/* 聯絡我 */

.contact {}

.contact .container {
    height: calc(100vh - 60px);
}


/* 尾端 */

.footer {
    background-color: #523A34;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    margin: 40px 0 0 0;
}